/*Geral*/
* {
    margin:0px;
    padding:0px;
  }
  /*Cabeçalho*/
  .cabecalho {
    background-color: #F6E74C;
    display: table;
    width: 100%;
  }
  .lado_esquerdo{
      float: left;
  }
  .logo{
    float: left;
  }
  .text_logo{
    float: left;
    font-size: 45px;
    align-items: center;
    font-family: 'Audiowide', cursive;
  }
  .lado_direito{
      float: right;
  }
  .menu-rapido{
    font-size: 20px;
    }

  /*Principal*/
  .apresentacao h1, h3{
    text-align: justify-all;
    margin-left: 15px;
  }
  
  /*Links*/
    .link-proj1{
        text-decoration: none;
        color: black;
    }
    .link-proj2{
        color: #EBBF2F;
    }
    .lado_direito a{
        text-decoration: none;
        color: black;
    }
    .projet a{
        text-decoration: none;
        color: black;
        font-family: 'Josefin Sans', sans-serif;
    }
  
  /*Cogumelo*/  
  .ex2, h2, ul{
    text-align: justify-all;
    margin-left: 15px;
  } 
  
  .dia-a-dia{
    list-style: none;
    font-size: 20px;
    margin-right: 105px;
  }

  /*Projeto da feira de ciências*/

  /*Árvores*/
  
  /*Rodapé*/
  .trabalhadores{
    float: left;
    margin-left: 15px;
    padding-right: 15px;
  }
